@model MyTodoList_001.Models.TodoModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="row text-end mb-2">
    <div class="col">
        <a href="/add" class="btn btn-primary w-auto" style="width: 30px;">Add New</a>
    </div>
</div>
<div class="row text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th width="200px">Title</th>
                <th width="450px">Description</th>
                <th width="100px">Due Date</th>
                <th width="150px">Reminder Time</th>
                <th width="150px">Status</th>
                <th width="150px">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
            }
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="text-center">@i</td>
                    <td class="text-start">@item.Title</td>
                    <td class="text-start">@item.Description</td>
                    <td class="text-start">@item.DueDate.ToString("dd MMM yyyy")</td>
                    @if (item.ReminderTime != null)
                    {
                        <td class="text-start">@item.ReminderTime!.Value.ToString("dd MMM yyyy HH:mm:ss")</td>
                    }
                    else
                    {
                        <td class="text-start"></td>
                    }
                    <td class="text-start">@item.Status</td>
                    <td class="text-center"><a href="/edit/@item.Id" class="btn-link"> Edit </a> | Delete</td>
                </tr>

                i++;
            }
        </tbody>
    </table>
</div>